<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-8">
    <h1>Servers</h1>
  </div>
  <div class="col-4 text-end">
    <%= link_to "Add New server", new_server_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @servers.each do |server| %>
        <tr>
          <td><%= server.name %>
          </td>
          <td><%= server.model %></td>
          <td>
            <%= link_to "Show", server %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
