<% tab = params[:tab] || 'home' %>
<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-6">
    <h1><%= @server.name %></h1>
  </div>
  <div class="col-6 d-flex justify-content-end align-items-center text-end" style="column-gap: 12px;">
    <%= link_to "Edit server", edit_server_path(@server), class: "btn btn-outline-secondary" %>
    <%= button_to "Destroy this server", @server, method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link <% if tab == 'home' %>active<% end %>" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <% if tab == 'hardware' %>active<% end %>" id="hardware-tab" data-bs-toggle="tab" data-bs-target="#hardware" type="button" role="tab" aria-controls="hardware" aria-selected="false">Hardware</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <% if tab == 'softwares' %>active<% end %>" id="softwares-tab" data-bs-toggle="tab" data-bs-target="#softwares" type="button" role="tab" aria-controls="softwares" aria-selected="false">Softwares</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <% if tab == 'owner' %>active<% end %>" id="owner-tab" data-bs-toggle="tab" data-bs-target="#owner" type="button" role="tab" aria-controls="owner" aria-selected="false">Owner</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade <% if tab == 'home' %>show active<% end %>" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        <%= render "servers/tabs/overview" %>
      </div>
      <div class="tab-pane fade <% if tab == 'hardware' %>show active<% end %>" id="hardware" role="tabpanel" aria-labelledby="hardware-tab">
        <%= render "servers/tabs/hardware" %>
      </div>
      <div class="tab-pane fade  <% if tab == 'softwares' %>show active<% end %>" id="softwares" role="tabpanel" aria-labelledby="softwares-tab"><%= render "servers/tabs/softwares" %></div>
      <div class="tab-pane fade  <% if tab == 'owner' %>show active<% end %>" id="owner" role="tabpanel" aria-labelledby="owner-tab"><%= render "servers/tabs/owner" %></div>
    </div>
  </div>
</div>
