<p style="color: green"><%= notice %></p>

<%= render @server_person %>

<div>
  <%= link_to "Edit this server person", edit_server_person_path(@server_person) %> |
  <%= link_to "Back to server people", server_people_path %>

  <%= button_to "Destroy this server person", @server_person, method: :delete %>
</div>
