<%= form_with(model: @hardware) do |form| %>
  <% if @hardware.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@hardware.errors.count, "error") %> prohibited this hardware from being saved:</h2>
      <ul>
        <% @hardware.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :server_id, value: @server.id %>
  <div class="row align-items-end mt-2">
    <div class="col-5">
      <%= form.label :category, style: "display: block" %>
      <%= form.select :category, Hardware.options, {}, class: "form-control" %>
    </div>
    <div class="col-5">
      <%= form.label :value, style: "display: block" %>
      <%= form.text_field :value, class: "form-control" %>
    </div>
    <div class="col-2">
      <%= form.submit 'Add New Hardware', class: "btn w-100 btn-outline-primary" %>
    </div>
  </div>
<% end %>
<table class="table mt-2">
  <thead>
    <tr>
      <th>Kind</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @server.hardwares.each do |hardware| %>
      <tr>
        <td><%= hardware.category %></td>
        <td><%= hardware.value %></td>
        <td>
          <div class="d-flex">
            <%= link_to "Edit", edit_hardware_path(hardware), method: :delete, class: "btn btn-outline-secondary" %>
            <%= button_to "Delete", hardware, method: :delete, class: "btn ms-2 btn-outline-danger" %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
